.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  gap: 1.5rem;
  color: white;
}

.formContainer > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.formContainer > h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

.formContainer > form > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--text-secondary-color);
  border-radius: 5px;
  font-size: 1.1rem;
}

.formContainer > form > a {
  color: var(--text-secondary-color);
  text-decoration: none;
}

.formContainer > form > a:hover {
  text-decoration: underline;
}

.formContainer > p {
  color: var(--text-secondary-color);
  text-align: center;
}

.formContainer > button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  color: white;
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.iconsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.iconsContainer > svg {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 5px;
  width: 40px;
  height: 40px;
}

.disabled {
  opacity: 0.3;
  cursor: default !important;
}

.welcome {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-color);
  border-radius: 20% 0 0 20%;
  padding: 20px;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  gap: 1rem;
}

.welcomeContainer > h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.welcomeContainer > p {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.welcomeContainer > button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-family: var(--primary-font);
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
}

.welcomeContainer > button:hover {
  background-color: white;
  color: var(--text-color);
}
